body {
  background-color: purple;
  min-height: 100vh;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow: hidden;
}
nav {
  position: fixed;
}

.nav {
  font-size: 1.5em;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.nav__knop {
  padding: 0.5em 0.9em;
  background-color: black;
  width: 1.1em;
}

.nav__knop:hover {
  color: white;
  background-color: gray;
}

.nav__item {
  margin-bottom: 0.1em;
}

.nav__link {
  color: antiquewhite;
  background-color: green;
  text-decoration: none;
  display: block;
  padding: 0.2em 0.5em;
  transform: translateX(-10.2em);
  transition: transform 0.4s ease-in-out;
}

.nav__link--schuif-in {
  transform: translateX(0);
}

.nav__link:hover {
  background-color: black;
  color: white;
}

.nav__link--schuif-in {
  animation: ijl-na-fert 1.5s forwards;
}

@keyframes ijl-na {
  0% {
    transform: translateX(-2em);
  }
  50% {
    transform: translateX(0.8em);
  }
  75% {
    transform: translateX(-0.4em);
  }
  100% {
    transform: translateX(0em);
  }
}

/* mediaquearie  */
@media screen and (min-width: 600px) {
  .nav {
    flex-direction: row;
    width: 100vw;
  }

  .nav__item {
    margin-left: 0.1em;
    margin-top: 0;
    flex: 1 0 auto;
  }

  .nav__link {
    transform: translateY(-4em);
  }

  .nav__link--schuif-in {
    transform: translateY(0);
  }

  .nav__link--schuif-in .nav__tekst {
    animation: ijl-na-fert 1s forwards;
  }

  @keyframes ijl-na-fert {
    0% {
      transform: translateY(-5em);
    }
    50% {
      transform: translateY(10em);
    }
    75% {
      transform: translateY(-5.8em);
    }
    100% {
      transform: translateY(0em);
    }
  }
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vlakje {
  background-color: seagreen;
  width: 15vw;
  height: 15vw;
  transform: translateX(2em);
  transition: transform 1s cubic-bezier(0.1, 0, 0.19, 0.8);
}

.vlakje_naar-rechts {
  transform: translateX(60vw) rotate(90deg);
}

.animeer-knop {
  height: 1, 5em;
}

.fas.verberg {
  display: none;
}
